*{
    box-sizing: border-box;
    /*כדי לכלול את הפדינג והבורדר בתוך הגדלים של הדיבים שבאבחר בהמשך*/
    scroll-behavior:smooth;/* כדי שיהיה גלילה חלקה שלוחצים על קישור או משהו */
    font-family: "Lato", sans-serif;
    
}
    /*scrollbar:*/

    /* width */
  ::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blueviolet; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 1, 59); 
  }
  /*end scrollbar des*/

body{
    background-color: silver;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    direction: rtl;
}
div.upBtn{
    position: fixed;
      bottom: 10vw;
      right: 0;
      width: auto;
      height: auto;
      font-size: 3vw;
      opacity: 0.6;
      padding-right: 1%;
      z-index: +1;
      
    }

    
    div.upBtn:hover{
        opacity: 1;     
    }

    div.upBtn a{
        text-decoration: none;
    }


.container_fluid{/*שכבת קונטיינרים ראשונית שתתפרס על כך המסך*/
    width: 100%;
    background-size: cover 100% 40%;/*כדי שהרקע יתאים את עצמו בדיוק לדיב */
    background-position: center top;/*גם שנקטים את המסך ואטוטמטית את הדיב התמונה תיראה במסך*/
    display: flex;
}

.container{
    /* שכבת הקונטיינרס ב שתהיה ממורכזת ומתאימה בגובהה לשכבה א */
    width: 70%;
    margin: auto;
    border: solid 2px whitesmoke;/*תוסיף כדי לראות בבירור יותר מה עושה הפעולה בההערה למטה*/
    min-height:100vh;
    
}
header{
    min-height: 65vh;/*מיני הייט כדי שאם אהפוך את האתר לריספונסיבי הוא יימתח ביחד עם הדיבים שבתוכו*/
    background-color: white;
    background:url(images/ELADLOGO.PNG)no-repeat center;
    background-size:100% 100%;
    background-position: center top;/*גם שנקטים את המסך ואטוטמטית את הדיב התמונה תיראה במסך*/
    /* צל בחלק התחתון כלפי מעלה*/
    -webkit-box-shadow: inset 0px -34px 9px -11px rgba(0,0,0,0.86);
    -moz-box-shadow: inset 0px -34px 9px -11px rgba(0,0,0,0.86);
    box-shadow: inset 0px -34px 9px -11px rgba(0,0,0,0.95);
    position: relative;/*לבר למטה*/
    
   
}


nav{
    float: right;
    display: inline-flex;
    align-items:center;/*יציג מלל באמצע גובה הדיב*/
    height: 100px;
    width: 80%;
    position: absolute;/*לראש */
    top: 75%;/*שהבר יתמקם לי בגובה של ההדר שאני רוצה */
    padding-right:none;
    margin-right: 7%;
    /*מתחת ל980 פיקסלים לשנות לבר המבורגר @Media*/
    
}
nav ul{
    list-style: none;/*מבטל נקודות ליד*/
    margin: 0;
    padding: 0;

}
nav ul li{
    display: inline-block;/*גורם לכך שהלינקים יהיו אחד ליד השני ולא מתחת */
    font-weight:bolder;
}

nav ul li a{
    color:whitesmoke;
    text-decoration: none;
    padding: 0.5em ;
    font-size: 1.5em;/*Note: 1rem = 16px !*/
    font-weight:bolder;
    /*Always use the em unit while working with media queries because it works well in all browsers and the rem unit somehow failed in some browsers.*/
/*@media(max-width: 68.75em){ ... }  // 1100*/
/*https://www.w3schools.com/tags/ref_pxtoemconversion.asp - calculator em to pix*/

}

nav ul li a:hover{
    color:black;
    font-size: 2rem;
    transition-duration: 0.8s;

}


nav .dropdown{
    display: none;

}


.strip{
    min-height: 950px;
    background: url(images/haircuttemplatepc.png)no-repeat;
    background-size: 100% 100%;
    /*צל מלמעלה ולמטה*/
-webkit-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);

}
.strip .aboutusbox .textbox span{font-weight: bolder;text-decoration: underline;}

 .aboutusbox{
    margin-top: 250px;
    max-height: 10vh;
    /*border: solid orange 1px;*/
    padding: 50px 20px;
    
}

.h2box{
    height: 15vh;
    /*border: aqua solid 0.5vh;*/
    text-align: center;
    margin-top: -15vh;

}

 h2{
    color: whitesmoke;
    font-size: 5vw;/*טקסט ריספונסיבי באמצעות vw unit להמשיך לשנות בשאר המקומות מפרוייקט ישן */
    margin:0;

}

.textbox{
   /* border: tomato solid;*/
    color: whitesmoke;
    font-size: 2vw;
    padding:8px;
    margin-top: -20px;
}



.block1{
    min-height: 150vh;
    background: url(images/block1.png)no-repeat;
    background-size:100% 100%;
-webkit-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);;
}
.block1 .aboutusbox{margin-top: 50px;}
.block1 .h2box h2{color: black;text-align:center;margin: auto;}
.block1 .textbox p {color: black;}


/*gallery + animation***********************************************************************/
.block1 .container .gallery{
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:10px;
  font-family: 'Roboto Mono', monospace;
  margin: auto;
  min-height:100vh;
  
  

}
.wave {
    float: left;
    margin: 20px;
    animation: wave  ease-in-out 1s infinite alternate;
    transform-origin: center -36px;
    
  }
  
  .wave:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .wave img {
    border: 5px solid #f8f8f8;
    display: block;
    width: 14vw;
    height: 34vh;
  }
  
  .wave figcaption {
    text-align: center;
    padding-top: 1rem;
  }
  
  .wave:after{
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px;
    border: 1.5px solid #ffffff;
    top: -10px; 
    left: 50%;
    border-bottom: none;
    border-right: none;
    transform: rotate(15deg);
    
  }
         
  .wave:before{
    content: '';
    position: absolute;
    top: -23px;
    left: 50%;
    display: block;
    height: 44px;
    width: 47px;
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 16;
    
  }
          
  @keyframes wave {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
    
  }

/*עוד אופציה לגלריה כרגע נראה כמו מלריה */
/*}
.block1 .container .gallery .divbigpic{
width: 50vh;
height: 80vh;
/*border: rgb(247, 7, 7) solid 2px;*/
/*margin: auto;
}
.block1 .container .gallery #big_pic{
    border-radius: 20px;
    width: 30vw;
    height: 80vh;
}
 .gallery .small_pics{
    margin-top: 0px;
    margin: auto;
    width: 60%;
    height: 30vh;
    border: violet solid 3px;
   
}
.gallery .small_pics img{
    float: left;
    width: 33%;
    height: 100%;
    border-radius: 8px;
}
#back_btn{
    font-size: 4em;
    float: left;
    position: absolute;/*נשפיע על גובה מיקומו של הכפתור בהתאם לגובה דיב גלרייה */
  /*  top: 40%;
    left: -15%;
    
}
#next_btn{
    font-size: 4em;
    float: right;
    position: absolute;/*נשפיע על גובה מיקומו של הכפתור בהתאם לגובה דיב גלרייה */
  /*  top: 40%;
    left: 85%;
}
button{
    color: white;
    background-color:silver;
    border: none;
    font-weight: bold;
}
*/



.block2{
    min-height: 50vh;
    background:/*url(images/ourprice3.png) no-repeat*/rgb(33,33,33);
    /*background-size:100% 100%;*/
    /*צל מלמעלה ולמטה*/
-webkit-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
}


/*dinamic div product store*/
.galleryContainer{
  margin: auto;
  border: red solid 3px;
  min-height: 850px;
  width: 100%;

}

.list {
  margin: 0px auto;
  width: 80%;
  box-sizing: border-box;
}
.list-element {
  width: 100%;
  margin: 25px 0px;
  font-family: arial;
  border-radius: 50px;
  padding: 10px 0px;
  color: #2196f3;
  font-size: 20px;
  text-align: center;
  box-shadow: 0px 0px 6px 0px #848484;
  display: none;
}
#loadmore {
  margin: 50px auto 0px;
  display: table;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background-color: #2196f3;
}
.list .list-element:nth-child(1) {
  display: block;
}
.list .list-element:nth-child(2) {
  display: block;
}


.block2 .price_h2box{
margin-top: 80px;
text-align: center;
color:whitesmoke;
/**************************************************************************************************************/
}




footer{
    min-height: 20vh;
    background-color: black;
    background-size: 100% 100%;
    background: cover;
    /*צל מלמעלה ולמטה*/
-webkit-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
}
.footerStyle{
    margin: auto; 
    color: whitesmoke;
    
    padding-bottom: 5vh;

}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}



@media screen and (max-width: 982px) {

    header{
        min-height: 12vh;/*מיני הייט כדי שאם אהפוך את האתר לריספונסיבי הוא יימתח ביחד עם הדיבים שבתוכו*/
        background-color: rgb(51, 49, 49);
        position: relative;/*יחסית ללוגו*/
        height: 12.36vw;
        position: fixed;
        z-index: +1;/*לא משנה מה וימות העולם זה תמיד יהיה ראשון בציר הZ*/

        -webkit-box-shadow: 0px 16px 25px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 16px 25px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 16px 25px -5px rgba(0,0,0,0.75);
                
        
       
    }
   
    nav ul{
        display: none;/*מעלים את רשימת הלינקים במסך מחשב */
    }


/*תפריט צד */
.sidenav {
  height: 100%;
  width: 3;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 100px;}
  .sidenav a {font-size: 5px;}
}

.container{
  /* שכבת הקונטיינרס בסמארטפון */
  width: 95%;
  margin: auto;
  border: none!important;/*הסבר על מה עושה important  -https://www.w3schools.com/css/css_important.asp*/
  min-height:850px;
}

    .burger{
        font-size: 6vw;
        margin-bottom: 12vh;
    }

    nav .dropdown{
        display: block; /*מבטל את הdusplay non  של הבורגר במצב מעל 982 פיקסלים*/
        color: silver ;
        font-weight: bold;
        font-size: 2vw;
        padding-left: 10vw;
        position: sticky;
        margin-bottom: 8vw;

    }
  
  /*
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: silver;
    border-radius: 30px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }*/

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .navLogo{
    height: 15vh;width: 100%;
    background:url(images/ELADLOGO.PNG)no-repeat center;
    background-size:100% 100%;
  } 
  .dropdown-content a {
    color: whitesmoke;
    padding: 1vw 5vw;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #54045cc2;border-radius: 30px;}
  .dropdown:hover .dropdown-content {display: block;}
}

/*סמארטפון-אייפון /טאבלט*/
@media screen and (max-width: 730px) {
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
      }

     
      .container {
    margin: auto;
    border: solid 2px whitesmoke;/*תוסיף כדי לראות בבירור יותר מה עושה הפעולה בההערה למטה*/
    min-height: 950px;
      }

      header{
        min-height: 12vh;/*מיני הייט כדי שאם אהפוך את האתר לריספונסיבי הוא יימתח ביחד עם הדיבים שבתוכו*/
        height: 15.36vh;
      }

      div.upBtn{
        position: fixed;
          bottom: 50vw;
          padding-right: 2vw;
          font-size: 11vw;
          
        }


    nav .dropdown{
        display: block; /*מבטל את הdusplay non  של הבורגר במצב מעל 982 פיקסלים*/
        color: rgb(117, 116, 116) ;
        font-weight: bold;
        font-size: 5vw;
        padding-left: 10vw;
        position: sticky;
        margin-bottom: 2vw;
    
    }

    .strip{
      min-height: 950px;
      background: url(images/iphonxWelcomBack.png)no-repeat;
      background-size: 100% 100%;
      /*צל מלמעלה ולמטה*/
  -webkit-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
  box-shadow: inset 0px -3px 12px 14px rgba(0,0,0,1);
  
  }

    .textbox{
       
         color: whitesmoke;
         font-size: 4vw;
         margin-top: -10vh;
     }



    .wave img {
        border: 3px solid silver;
        display: block;
        width: 30vw;
        height: 34vh;
        margin: auto ;
      }
      .wave {
        animation: wave  ease-in-out 0s infinite alternate;/*ביטול תנודות גלריה */
       
      }
     
  
      .h2box{
        height: 15vh;
        text-align: center;
        margin-top: 0;
    }
    h2{
        color: whitesmoke;
        font-size: 3rem;/*טקסט ריספונסיבי באמצעות vw unit להמשיך לשנות בשאר המקומות מפרוייקט ישן */
        margin:0;
    }


    .block1{
      min-height: 850px;
      background: none;
      background-color: white;
      -webkit-box-shadow: 0px -39px 18px -8px rgba(0,0,0,0.72);
      -moz-box-shadow: 0px -39px 18px -8px rgba(0,0,0,0.72);
      box-shadow: 0px -39px 18px -8px rgba(0,0,0,0.72);
      
  }

    .whiteLogo{
    height: 16vh;width: 100%;
    background:url(images/black&white\ haircut\ logo.PNG)no-repeat center;
    background-size:100% 100%;
    margin-top:50px;
    margin-bottom: 50px;

    }
  .block1 .h2box {margin-top: -50px;}
  .block1 .h2box h2{color: black;text-align:center;margin: auto;}
  .block1 .textbox p {color: black;}


  .block2{
    min-height: 800px;
    background-color: #111;
    /*background-size:100% 100%;*/
    /*צל מלמעלה ולמטה*/

box-shadow: none;
}
.productLogo{
  height: 16vh;width: 100%;
  background: url(images/eaProductsHeader.png)no-repeat center;
  background-size:100% 100%;
  

}

   
    .footerStyle{
        font-size: 4vw;
        
    }

   
    
    
    
}

